* {
  --text-color: #707070;
  --text-color-white: #fff;
  --title-color: #373737;
  --button-text-color: #2C2C2C;
  --accent-color: #FFD703;
  --title-color-red: #FB6363;
  --title-color-purple: #A66DF5;
  --title-color-green: #6DD6B0;
  --title-color-green-lite: #CEFFFD;
  --title-color-lite: #F4F4F4;
  --title-color-green-dark: #38B7AF;
  --title-color-turquoise: #3FC2BB;
  --title-color-blue: #708CF0;
  --title-color-vinous: #A02E8E;
  --color-footer-bg: #0B514D;
}
